// English
// Desktop
$title-en: 20px;
$heading-en: 18px;
$subheading-en: 16px;
$body-en: 13px;
$caption-en: 12px;

//Mobile
$subheading-en--mobile: $subheading-en + 1;
$body-en--mobile: $body-en + 1;
